{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div>
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend>
          Create new account
        </legend>
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">
          Sign Up
        </button>
      </fieldset>
    </form>
    <div>
      <small class="text-muter">
        Already Have An Account ?
        <a class="ml-2" href="{% url 'login' %}">
          Sign In
        </a>
      </small>
    </div>
  </div>
{% endblock content %}
