{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <table>
        <caption>
            All users
        </caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>F. Name</th>
            <th>L. Name</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th colspan="4">...</th>
        </tr>
        </tfoot>
        <tbody>
        {% for user in users %}
        <tr>
            <th>{{user.pk}}</th>
            <td>{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
