{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h2>Manufacturers</h2>
    <a class="text-success" href="/admin/dcim/manufacturer/add/"><i class="fa fa-plus"></i> Add new Manufacturer</a>
    <table>
        <caption>
            {{manufacturers|length}} entries
        </caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>DeviceTypes</th>
            <th>Platforms</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% for manufacturer in manufacturers %}
        <tr>
            <td class="text-center">
                {{manufacturer.name}}
            </td>
            <td class="text-center">
                <a href="{% url 'devicetype-list' %}?manufacturer={{manufacturer.name}}">
                    {{manufacturer.device_types.all|length}}
                </a>
            </td>
            <td class="text-center">
                <a href="{% url 'platform-list' %}?manufacturer={{manufacturer.name}}">
                    {{manufacturer.platforms.all|length}}
                </a>
            </td>
            <td>
                {{manufacturer.description}}
            </td>
            <td><a class="text-warning" href="/admin/dcim/manufacturer/{{manufacturer.pk}}/change/"><i
                    class="fa fa-cog"></i> Change</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
