{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h2>Location {{object.name}} VLAN Groups</h2>
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <a class="nav-link" aria-current="page" href="{% url 'location-detail' object.pk %}">Location</a>
            <a class="nav-link" href="{% url 'location-rackgroups' object.pk %}">Rack Groups</a>
            <a class="nav-link" href="{% url 'location-prefixes' object.pk %}">Prefixes</a>
            <a class="nav-link active" href="">VLAN Groups</a>
            <a class="nav-link" href="{% url 'location-statistics' object.pk %}">Stats</a>
            <a class="nav-link" href="{% url 'location-logs' object.pk %}">ChangeLog</a>
        </ul>
        <table>
            <caption>
                {{vlangroups|length}} entries
            </caption>
            <thead>
            <tr>
                <th>Name</th>
                <th>VLANs</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
            {% for group in vlangroups %}
            <tr>
                <td class="text-center">
                    {{group.name}}
                </td>
                <td class="text-center">
                    <a href="{% url 'vlan-list' %}?group={{group.name}}">
                        {{group.vlans.all|length}}
                    </a>
                </td>
                <td>
                    {{group.description}}
                </td>
                <td><a class="text-warning" href="/admin/ipam/vlangroup/{{group.pk}}/change/"><i class="fa fa-cog"></i>
                    Change</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
