{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h2>Device {{object.name}} interfaces</h2>
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <a class="nav-link" aria-current="page" href="{% url 'device-detail' object.pk %}">Location</a>
            <a class="nav-link active" href="">Interfaces</a>
            <a class="nav-link" href="{% url 'device-services' object.pk %}">Services</a>
            <a class="nav-link" href="{% url 'device-logs' object.pk %}">ChangeLog</a>
        </ul>
        <table>
        <caption>
            {{interfaces|length}} entries
        </caption>
        <thead>
        <tr>
            <th>Is Enabled</th>
            <th>Name</th>
            <th>Type</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% for interface in interfaces %}
        <tr>
            <td>
                {% if interface.enabled %}
                <i class="fa fa-check-circle-o text-success"></i>
                {% else %}
                <i class="fa fa-times text-danger"></i>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'interface-detail' interface.id %}">
                    {{interface.name}}
                </a>
            </td>
            <td class="text-center">
                {{interface.type}}
            </td>
            <td><a class="text-warning" href="/admin/ipam/interface/{{interface.pk}}/change/"><i class="fa fa-cog"></i>
                Change</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock content %}
