{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h2>Rack Groups</h2>
    <a class="text-success" href="/admin/dcim/rackgroup/add/"><i class="fa fa-plus"></i> Add new Rack group</a>
    <table>
        <caption>
            {{rackgroups|length}} entries
        </caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Racks</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        {% for rackgroup in rackgroups %}
        <tr>
            <td class="text-center">
                {{rackgroup.name}}
            </td>
            <td class="text-center">
                {{rackgroup.location}}
            </td>
            <td class="text-center">
                <a href="{% url 'vlan-list' %}?group={{group.name}}">
                    {{rackgroup.racks.all|length}}
                </a>
            </td>
            <td>
                {{rackgroup.description}}
            </td>
            <td><a class="text-warning" href="/admin/ipam/rackgroup/{{group.pk}}/change/"><i class="fa fa-cog"></i>
                Change</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
