{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <h2>Platforms</h2>
    <a class="text-success" href="/admin/dcim/platform/add/"><i class="fa fa-plus"></i> Add new Platform</a>
    <table>
        <caption>
            {{platforms|length}} entries
        </caption>
        <thead>
        <tr>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Devices</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tfoot>
        <form id='form_filter' action="{% url 'platform-list' %}" method="get">
            | Manufacturer:
            <select name="manufacturer" id="select_manufacturer">
                <option value=""
                        {% if selected_manufacturer %}{% else %} selected="selected" {% endif %}>
                    —
                </option>
                {% for option in manufacturer_options %}
                {% if selected_manufacturer == option.name %}
                <option value="{{option.name}}" selected>{{option}}</option>
                {% else %}
                <option value="{{option.name}}">{{option}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </form>
        |
        </tfoot>
        <tbody>
        {% for platform in platforms %}
        <tr>
            <td class="text-center">
                {{platform.name}}
            </td>
            <td class="text-center">
                <a href="{% url 'manufacturer-list' %}">
                    {{platform.manufacturer}}
                </a>
            </td>
            <td class="text-center">
                <a href="{% url 'device-list' %}">
                    {{platform.devices.all|length}}
                </a>
            </td>
            <td>
                {{platform.description}}
            </td>
            <td><a class="text-warning" href="/admin/dcim/platform/{{platform.pk}}/change/"><i class="fa fa-cog"></i>
                Change</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(() => {
            $('#select_manufacturer').change(() => {
                const form = $('#form_filter')
                form.submit()
            });
        });
    </script>
</div>
{% endblock content %}
